In [2]:
import pandas_datareader.data as web

/Users/weileizeng/opt/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#yahoo-finance

https://zhuanlan.zhihu.com/p/32860089

In [3]:
web.get_quote_av(["AAPL", "TSLA"])

ValueError: The AlphaVantage API key must be provided either through the api_key variable or through the environment variable ALPHAVANTAGE_API_KEY

### more data
https://zhuanlan.zhihu.com/p/31237526

In [4]:
import pandas_datareader as pdr

In [5]:
alibaba = pdr.get_data_yahoo("BABA")

In [6]:
alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-07-10  81.199997  79.839996  81.129997  80.300003  11224500  80.300003
2015-07-13  82.199997  80.699997  80.919998  81.860001  10350500  81.860001
2015-07-14  82.019997  81.129997  81.580002  81.500000   7519300  81.500000
2015-07-15  81.500000  80.209999  80.900002  80.730003   9514200  80.730003
2015-07-16  82.000000  80.900002  81.389999  81.529999   8604500  81.529999