In [3]:
#import pandas_datareader.data as web

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html#yahoo-finance

https://zhuanlan.zhihu.com/p/32860089

In [4]:
#web.get_quote_av(["AAPL", "TSLA"])

### more data
https://zhuanlan.zhihu.com/p/31237526

In [5]:
import pandas_datareader as pdr

In [6]:
alibaba = pdr.get_data_yahoo("BABA")

In [7]:
alibaba.head()

                 High        Low       Open      Close    Volume  Adj Close
Date
2015-07-10  81.199997  79.839996  81.129997  80.300003  11224500  80.300003
2015-07-13  82.199997  80.699997  80.919998  81.860001  10350500  81.860001
2015-07-14  82.019997  81.129997  81.580002  81.500000   7519300  81.500000
2015-07-15  81.500000  80.209999  80.900002  80.730003   9514200  80.730003
2015-07-16  82.000000  80.900002  81.389999  81.529999   8604500  81.529999